/* Modal styling */
#doi-metadata-modal {
    padding: 15px;
}

#doi-metadata-modal label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#doi-metadata-modal input[type="text"],
#doi-metadata-modal input[type="number"],
#doi-metadata-modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

#doi-metadata-modal textarea {
    height: 100px;
}

#doi-metadata-modal .description {
    display: block;
    font-style: italic;
    color: #666;
    margin-top: -10px;
    margin-bottom: 15px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Meta box styling */
#doi-metadata-box input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

#doi-metadata-box dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 1rem;
}

#doi-metadata-box dl dd {
    margin-inline-start: 0;
    font-weight: bold;
}

.doi-state-container {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.doi-state-icon {
    border-radius: 50%;
}

.doi-state-draft {
    background-color: #f0f0f0;
    color: #666;
}

.doi-state-draft .doi-state-icon {
    background-color: #999;
}

.doi-state-registered {
    background-color: #e6f2ff;
    color: #0066cc;
}

.doi-state-registered .doi-state-icon {
    background-color: #0066cc;
}

.doi-state-findable {
    background-color: #e6f7f0;
    color: #009966;
}

.doi-state-findable .doi-state-icon {
    background-color: #009966;
}