#doi-metadata-modal label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#doi-metadata-modal {
	padding: 15px;
}

#doi-metadata-modal input[type="text"],
#doi-metadata-modal input[type="number"],
#doi-metadata-modal textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
}

#doi-metadata-modal textarea {
	height: 100px;
}

#doi-metadata-modal .description {
	display: block;
	font-style: italic;
	color: #666;
	margin-top: -10px;
	margin-bottom: 15px;
}

.button-row {
	display: flex;
	gap: .5rem;
	margin-top: 15px;
}

/* Meta box styling */
#doi-metadata-box input[type="text"] {
	width: 100%;
	margin-bottom: 10px;
}

#doi-metadata-box dl {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1rem;
}

#doi-metadata-box dl dd {
	margin-inline-start: 0;
	font-weight: bold;
}

.doi-metadata {
	border-collapse: collapse;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 0.5rem;
}

/** Responsive fixes for the metadata table at narrow widths */
@media (max-width: 768px) {
	.ui-dialog {
		position: fixed !important;
		top: 10px !important;
		left: 10px !important;
		right: 10px !important;
		width: auto !important;
		max-height: calc(100vh - 20px) !important;
		overflow: auto !important;
	}

	.ui-dialog .ui-dialog-content {
		/*max-height: calc(100vh - 120px) !important;*/
		/*overflow-y: auto !important;*/
	}

	.doi-metadata {
		grid-template-columns: 1fr;
	}
}

.doi-metadata .doi-metadata-section {
	vertical-align: top;
	display: contents;
}

.doi-metadata .doi-metadata-section > div ul {
	margin: 0;
}

.doi-metadata .doi-metadata-section > div {
	padding: 0.5rem 0;
	border-bottom: 1px solid #ddd;
}

.doi-metadata .doi-metadata-section > div:first-child {
	font-weight: bold;
	padding-right: 1rem;
}

.doi-metadata .doi-metadata-section > div:first-child .changed {
}

.doi-metadata .doi-metadata-section > div:last-child {
	padding-left: 1rem;
	font-style: italic;
}

.doi-metadata-section.changed > div:nth-child(2) {
	font-weight: bolder;
	color: #0f6674;
}

.doi-tombstone-warning {
	background-color: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}
